<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin-left: 5px;
        background-image: url("https://img.freepik.com/free-vector/abstract-background-consisting-colorful-arcs-illustration_456031-149.jpg?size=626&ext=jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      h1 {
        color: white;
      }

      h3 {
        color: white;
      }

      h4 {
        color: white;
      }

      p {
        color: white;
      }
      .navbar {
        min-height: 80px;
      }

      .navbar-brand {
        padding: 0 15px;
        height: 80px;
        line-height: 80px;
      }

      .navbar-toggle {
        /* (80px - button height 34px) / 2 = 23px */
        margin-top: 23px;
        padding: 9px 10px !important;
      }

      @media (min-width: 768px) {
        .navbar-nav > li > a {
          /* (80px - line-height of 27px) / 2 = 26.5px */
          padding-top: 26.5px;
          padding-bottom: 26.5px;
          line-height: 27px;
        }
      }
    </style>
    <link rel="stylesheet" href="style.css" />
    <title>Our team</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Jarvis</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Our team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/math">Math</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/people">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/weather">Weather</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/science">Science</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <center>
      <h1>Meet the Team</h1>
    </center>
    <br />
    <center>
      <div style="display: flex">
        <div class="card" style="width: 400px; color: black; margin: 20px">
          <img
            class="card-img-top"
            src="https://lh3.googleusercontent.com/fife/AAWUweWADb8LWPbvOL09DpXSIWrf0rZQH3U0w9rktJa3xt0AN3c_sG_83FCuLhFl0VKepVS5BJPdc_jKK_fG8PG6YVnEzMPcngE3of2Q0h6Wc6Szm5vzJxPmXN_CPvFHE8GWd9p8KvLOP8X7P-vytFNYdMTy0ktRq7MElufUnBSJvdsd0nV0VgPCJF6D71Ard7mnjHJU_6CLXAiMdILKbHd9Xs4AoiVTgi_vt0ra3NBehKuA_WB7tbXcLSyyj_uOQFtLwVr4GGbIJygnAi9Aulwy0gy_lceccJH5WQNqvKs8ctQVOtwLo_y7G9sODDCOo16bUKe4UbWGN7kiQIhEFqd_RofU4v4WOOYfLQw2jm-yNRBzMkJwIJfQdRCxQNj89gxFbClDEqSGPsMZSo6g8V8MIUTPI86f-VQiNdjbr1HfdLveGA4g_lS6Fuwwp_QZ4Xm9SU19VaJqKVFKOFfLGb8U_KIYNYXMTrJUZDPPKOGJkWm9hp4XieEfCVklS5165f5s_OA8CemuTXOPZR0vezmkAorI-vcgaOBWJCjQk-gn855Wrkol9BdbRStYLgLNX3K4RL9PuqLBGovogTni56sTBdSTNBqDf-mVugqpzH3VJ7mveDpNDD6g9Qo3UP-tgUb-FTU88OAYOljswfaY3OTDih7HmKrMRNxfL8JuCa1tmPVAjRvslY_1j0vldrEipHWlJzlT9p9GsyYa6o8pfAdaFXcS8slIBPvWQoc=w1080-h720?authuser=0"
            alt="Card image"
          />
          <div class="card-body;">
            <h4 class="card-title" style="color: black">Sumedh</h4>
            <p class="card-text" style="color: black">
              Hey! I'm Sumedh. I'm 12 years old and an incoming 7th grader. Some
              of my hobbies are reading, video games, guitar, and table tennis!
              I started coding 2 years ago.
            </p>
          </div>
        </div>
        <br />
        <div class="card" style="width: 400px; color: black; margin: 20px">
          <img
            class="card-img-top"
            src="https://lh3.googleusercontent.com/-4K8qafCFSec/YP3PudD4RhI/AAAAAAAAAnY/JXpHGdBt1Hc_Zfb4w1sIA-Okwn0bTQGGACLcBGAsYHQ/s0/my_image.jpg?authuser=0"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title" style="color: black">Aarush</h4>
            <p class="card-text" style="color: black">
              Hello!, My name is Aarush im 11 years old. Some of my hobbies are
              playing soccer, playing the violin and coding!!! I was introduced
              to coding 1 years ago.
            </p>
          </div>
        </div>
        <br />
        <div class="card" style="width: 400px; color: black; margin: 20px">
          <img
            class="card-img-top"
            src="https://lh3.googleusercontent.com/fife/AAWUweUdgaWMgRC0oPasWfndN649RK4SKThVqRfb6T9PCg9hfdd1K50eCs1tioiDuYX_G-NV8nYAOTCeuvzzcjHHak0RVH7ep4nus7zincdGxHpM3AnkW-gq4YjusZCTKEPv4TO3KHBlAnE3tJ1yu1Cb0z59hZ12kn4-fX1TSn3bCgQRgkw18M4wR7m13f1nwUkYl5meEu_UkVQrDiukWagrSPYhb1P9a0sqC5yBpqr0fapsUJvorkQ1gU6mjAvSzXbPM5cJu3tRkozwrrDREE8yYDlS5vjRIJ9DAjp1OqN666EydgcgxjQ-dy6goyOkaF7-MLc4GqXeAeohdao6d32pwfck1xqCR1dHiIzb-uwqfjluJYswwO5V5gbNH_GKeJQjhXbUoLK9XN40UEmr3P9ikI94KVbEcX4yHkBdK2nURbPU2pWeNIj7e57jgzx6zxSTCfxKuSE8s4SasCl3hj6ch7TxaIxTtoss5HvIls6-s35J_8wGmoK3_7p3Pi6AdhZZv4yvU7vXmMfNSTY9zYLdomD_bTLb-lSDPY0vGqOTqqow0iGk-DSrACTC5oML8BVwku2B_xgqGvHzineJitPwsc5BRL6nFD6i-sCA41CmOqThA4JdN8T0bw6rNzPDRSRIhDTiGilvmj5zN4o-lzueh2XTqGobfm9t2K7GASjrvLkH7m-fEYOK7qrXkp0nDzQ6E7Ro3VXbLEg3xnHd9m7Xiyamem9G0mvXCeA=w648-h486?authuser=0"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title" style="color: black">Neha</h4>
            <p class="card-text" style="color: black">
              Hi, my name is Neha and I'm 12 years old. Some of my hobbies are
              crafting, reading and tennis.. I was introduced to coding by a
              class in school, and then I learnt more through my brother.
            </p>
          </div>
        </div>
      </div>
    </center>
    <br />
    <br />
    <hr />
    <br />
    <h4>Wolframalpha</h4>
    <p style="color: white">
      Wolframe alpha is a website with that can answer almost anything with a
      helpful api
    </p>
  </body>
</html>
